:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Jost", sans-serif;
}

/*Global*/

body {
  font-family: Georgia, serif;
  background-color: #e0e0e0;
  padding-bottom: 100px;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 30px 60px;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.6;
  margin: 0 auto;
}

h1 {
  font-family: var(--font-secondary);
  font-size: 32px;
}

h2 {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 300;
  color: gray;
  margin-bottom: 30px;
}

p {
  margin-bottom: 20px;
}

/*Splash*/

.splash {
  position: relative;
  min-height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.splash-start {
  min-height: 700px;
  background-image: url("https://i.postimg.cc/W4PCXYbj/pexels-karola-g-4248603.jpg");
  background-position: top;
  margin-bottom: 100px;
}

.splash-inner-start {
  position: relative;
  margin: auto;
  max-width: 80%;
}

.splash-text {
  margin: 25px;
  text-align: center;
}

.splash h1 {
  margin: 20px 110px 20px 110px;
  font-family: var(--font-secondary);
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0.1em;
}

.splash h2 {
  margin: 24px 0;
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 30px;
  line-height: 52px;
  color: #0a0a0f;
}
