/*Global*/

body {
  font-family: Georgia, serif;
  background-color: #e0e0e0; /* delikatne tło całej strony */
  margin-bottom: 100px;
  margin: 0;
}

.container {
  background-color: #fff; /* tło „kartki” */
  padding: 30px 60px; /* wewnętrzny margines */
  max-width: 800px; /* szerokość kartki */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* lekki cień dla efektu kartki */
  line-height: 1.6;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
  color: gray;
  margin-bottom: 30px;
}

p {
  margin-bottom: 20px;
}

.splash {
  position: relative;
  min-height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.splash-start {
  min-height: 700px;
  background-image: url("https://i.postimg.cc/W4PCXYbj/pexels-karola-g-4248603.jpg");
  background-position: top;
  margin-bottom: 100px;
}

.splash-inner-start {
  position: relative;
  margin: auto;
  max-width: 80%;
  /*color: var(--color-text-primary);
  background-color: rgba(246, 248, 245, 0.5);*/
}

.splash-text {
  margin: 25px;
  text-align: center;
}
